/* GENERAL ///////////////////////////////////////////////////// */
html {
    color: white;
}

/* INITIAL FADE-IN //////////////////////////////////////////// */
@keyframes initial-fade-in {
    from {opacity: 0;}
    to {opacity:1;}
}

@keyframes poster-fade-in {
  from {opacity: 0;}
  to{opacity: 0.5;}
}

/* STUFF FOR DESKTOP VERSION ///////////////////////////////// */
#side-border-left {
    width: 0;
    height: 0;
    animation: initial-fade-in 10s linear forwards;
}

#side-border-right {
    width: 0;
    height: 0;
    animation: initial-fade-in 10s linear forwards;
}

/* BACKGROUND ////////////////////////////////////////////////////// */
#background {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;

    background-image: url("../assets/visual/images/about-pic-1.jpg");
    background-size: 200%;
    filter: brightness(0.2);

    animation: initial-fade-in 10s linear forwards;
}

/* ARROWS //////////////////////////////////////////////// */

.arrow-container {
    height: 5%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 0 30%;

    font-size: calc(var(--w)/10);

    color: white;

    animation: initial-fade-in 10s linear forwards;
}


/* HEADER DIVIDERS ///////////////////////////////////////// */
.header-divider {
    background-size: cover;    
}

.header-divider h2, .header-divider h3 {
    height: 93%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: "Gruppo", Arial, Helvetica, sans-serif;
    font-size: calc(var(--w)/7);

    color: hsl(100, 100%, 70%);

    text-shadow: 0px 0px calc(var(--w)/10) hsl(100, 100%, 70%);    
}

/* POSTER SECTION /////////////////////////////////////////// */
#poster {
    height: 91%;
    width: 100%;

    display: block;
    object-fit: contain;


    animation: poster-fade-in 5s linear forwards;
}

/* HEADER SECTION ////////////////////////////////////// */
h1 {
    padding-left: 1%;
    font-family: "Gugi", Arial, Helvetica, sans-serif;
    font-size: calc(var(--w)/7);
    
    color: white;
}

#header ul {
    height: 57%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    text-align: right;
    padding-right: 2%;

    font-family: "Gugi", Arial, Helvetica, sans-serif;
    font-size: calc(var(--w)/16);
}

.back {
    border: 1px solid white;
    position: relative;
    display: inline-block;
    width: 30%;
    height: 10%;
    margin-left: 1%;

    font-family: "Gruppo", Arial, Helvetica, sans-serif;
    font-size: calc(var(--w)/10);

    color: gray;
}

.back i {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: calc(var(--w)/13);
}

/* PROJECT STATEMENT SECTION ///////////////////////////////// */
#statement-section .header-divider {
    background-image: 
        linear-gradient(
            black,
            hsl(0, 0%, 0%, 0.7),             
            black 
        ),
        url("../assets/visual/images/splash-pic-2.jpg")
    ;
}

#project-statement .ur {
  padding-top: 15%;
}

#project-statement p {
  font-family: "Comfortaa", sans-serif;
  padding: 5%;
  line-height: 1.5;
}


#project-statement .arrow-container {
  margin-top: 20%;
}


/* TEAM SECTION //////////////////////////////////// */
#team-section-header {
    box-sizing: border-box;
    border-top: 5px solid hsl(0, 0%, 10%);
    border-bottom: 5px solid hsl(0, 0%, 10%);

    background-image: 
        linear-gradient(
            black,
            hsl(0, 0%, 0%, 0.7),             
            black 
        ),
        url("../assets/visual/images/splash-pic-4.jpg")
    ;
}

#team-section-header h2 {
    height: 93%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: "Gruppo", Arial, Helvetica, sans-serif;
    font-size: calc(var(--w)/7);

    color: hsl(100, 100%, 70%);

    text-shadow: 0px 0px calc(var(--w)/10) hsl(100, 100%, 70%);
}

/* TEAM MEMBER PROFILE /////////////////////////// */
.team-member-pic {
    width: 100%;
    height: 40%;

    object-fit: cover;
    object-position: 50% 30%;
}

.team-member-name {
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Gugi", Arial, Helvetica, sans-serif;
    font-size: calc(var(--w)/10);

}

.team-member-role {
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 5%;

    text-align: center;
    line-height: 2.5ex;

    font-family: "Gruppo", Arial, Helvetica, sans-serif;
    font-size: calc(var(--w)/8);

    background-color: white;
}

.team-member-description {
    height: 30%;

    padding: 10% 5%;
    box-sizing: border-box;

    text-align: center;
    line-height: 2.5ex;

    font-family: "Comfortaa", Arial, Helvetica, sans-serif;
    font-size: calc(var(--w)/23)
}

/* STEFAN ///////////////////////////////////////////////// */
#stefan {
    background-color: aqua;
    color: magenta;
}

#stefan .team-member-role {
    height: 20%;
    font-size: calc(var(--w)/12);
}

#stefan .team-member-description {
    padding: 5% 5%;
    height: 20%;
}

/* LARISSA ////////////////////////////////////////////////////////// */

#larissa {
    background-color: hsl(260, 100%, 5%);
    color: hsl(0, 100%, 50%);
}

/* PARKER ///////////////////////////////////////////////////// */
#parker {
  background-color: hsl(200, 100%, 4%);
  color: hsl(150, 100%, 20%);
}

/* VOICE ACTORS ////////////////////////////////////////////////// */
.voice-actor {
    height: 47%;
}

.voice-actor-pic {
    object-fit: contain;
    height: 50%;
    width: 100%;
}

.voice-actor-name {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gugi";
    font-size: calc(var(--w)/10);
}

.voice-actor-role {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gruppo";
    font-size: calc(var(--w)/12)
}

.centered-image {
  object-position: 50% 40%;
}

/* ACTOR SECTION ///////////////////////////////////////////////// */
#actors-section .header-divider {
    background-image: 
        linear-gradient(
            black,
            hsl(0, 0%, 0%, 0.7),             
            black 
        ),
        url("../assets/visual/images/splash-pic-1.jpg")
    ;
}

#actors-section img {
    object-fit: cover;
}

/* WEB-DESIGN SECTION////////////////////////////////////////////// */
#web-design-section .header-divider {
    background-image: 
    linear-gradient(
        black,
        hsl(0, 0%, 0%, 0.7),             
        black 
    ),
    url("../assets/visual/images/splash-pic-5.jpg")
    ;
}

/* DREEKO SECTION ////////////////////////////////////////////////// */
#dreeko {
    background-color: black;
}

#dreeko-logo {
    object-fit: contain;
    width: 100%;
    height: 40%;
}

#dreeko p {
    height: 25%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 5%;

    text-align: center;
    line-height: 2.5ex;

    font-family: "Comfortaa";
    font-size: calc(var(--w)/16);

    color: hsl(260, 100%, 70%);
}

/* FONTS SECTION ////////////////////////////////////////////////////// */
#fonts h3 {
    height: 20%;
    font-family: "Gugi", Arial, Helvetica, sans-serif;
    font-size: calc(var(--w)/5);
}

#fonts ul {
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-right: 1%;
}

#fonts ul a {
    display: block;

    text-align: right;
    font-size: calc(var(--w)/8);
}

#gugi {
    font-family: "Gugi", Arial, Helvetica, sans-serif;
}

#gruppo {
    font-family: "Gruppo", Arial, Helvetica, sans-serif;
}

#comfortaa {
    font-family: "Comfortaa", Arial, Helvetica, sans-serif;
}

#fonts p {
    height: 33%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

    font-family: "Comfortaa", Arial, Helvetica, sans-serif;
}

#fonts p a {
    color:hsl(100, 100%, 80%);
}

/* PHOTO CREDITS SECTION //////////////////////////////////// */
#photos h3 {
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: "Gugi", Arial, Helvetica, sans-serif;
    font-size: calc(var(--w)/7);
}

#photos #sub-header {
    height: 15%;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    font-family: "Comfortaa", Arial, Helvetica, sans-serif;
    font-size: calc(var(--w)/18);
}

#photos #sub-header a {
    padding-left: 2%;
    color: hsl(100, 100%, 80%)
}

#list-mention {
  font-family: "Comfortaa", sans-serif;
  font-size: calc(var(--w)/25);
  padding-left: 5%;
  line-height: 1.5;
  padding-bottom: 5%;
}

.photo-credit-list {
  font-family: "Comfortaa", sans-serif;
}

#photo2 .photo-credit-list {
  padding-top: 10%;
}

.photo-credit-list li {
  width: 100%;
  padding-bottom: 5%;
}

.photo-credit-list a {
  display: block;
  border-top: calc(var(--w)/100) solid hsl(100, 100%, 70%);
  border-bottom: calc(var(--w)/100) solid hsl(100, 100%, 70%);
  width: 100%;
  padding: 1% 0% 1% 2%;
  color:hsl(100, 100%, 80%);
}

#photo3 .photo-credit-list {
  padding-top: 10%;
}

#photo3 .back {
  position: absolute;
  left: 34%;
  top: 60%;
}


/* LAPTOP / DESKTOP //////////////////////////// */
@media only screen and (min-width: 1025px) {

    /* GENERAL ///////////////////////////////// */
    .arrow-container {
        border: none;
        font-size: calc(var(--w)/20);
    }

    .arrow-container a:hover, .arrow-container a:focus {
      color: red;
    }

    #side-border-left {
        position: fixed;
        height: 100vh;
        width: auto;
        z-index: 1;
    }

    #side-border-right {
        position: fixed;
        height: 100vh;
        width: auto;
        right: 0;
        z-index: 1;
    }

    #background {
        background-size: 100%;
    }

    .ur {
        width: 62vw;
    }

    .header-divider h2, .header-divider h3 {
        font-size: calc(var(--w)/10);
    }

    /* POSTER SECTION //////////////////////////////// */
    #poster {
        height: 90%;
        box-sizing: border-box;
        padding: 3% 0;
        animation: poster-fade-in 10s ease-in forwards;
    }

    /* HEADER SECTION ////////////////////////////////////// */
    h1 {
        height: 42%;

        display: flex;
        align-items: center;

        font-family: "Gugi", Arial, Helvetica, sans-serif;
        font-size: calc(var(--w)/18);
        
        color: white;
    }

    #header ul {
        height: 45%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        text-align: right;

        font-family: "Gugi", Arial, Helvetica, sans-serif;
        font-size: calc(var(--w)/35);
    }

    #header li:hover {
        color: hsl(260, 60%, 0%);
        background-color: white;
    }

    #header ul a:focus {
      background-color: red;
    }

    .back {
        border: 1px solid white;
        position: relative;
        display: inline-block;
        width: 30%;
        height: 10%;

        font-family: "Gruppo", Arial, Helvetica, sans-serif;
        font-size: calc(var(--w)/25);

        color: gray;
    }

    .back i {
        position: absolute;
        top: 15%;
        left: 70%;

        font-size: calc(var(--w)/20);
    }

    .back:hover, .back:focus {
        color: hsl(260, 100%, 70%);
        background-color: black;
    }

    /* PROJECT STATEMENT ////////////////////////////////////// */
    #project-statement .ur {
      padding: 9%;
    }
    #project-statement p {
      font-size: calc(var(--w)/60);
    }

    /* TEAM SECTION /////////////////////////////////////////// */
    #team-section-header h2 {
        font-size: calc(var(--w)/10)
    }

    /* TEAM MEMBER PROFILE ////////////////////////////////////// */
    .team-member-pic {
        width: 50%;
        height: 50%;
    }
    .team-member-name {

        width: 50%;
        height: 25%;

        position: absolute;
        top: 0%;
        left: 50%;

        font-size: calc(var(--w)/18);

        text-align: center;
    }

    .team-member-role {

        width: 40%;
        height: 25%;
        position: absolute;
        left: 50%;
        top: 25%;
        font-size: calc(var(--w)/20);
    }

    .team-member-description {
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(var(--w)/45)
    }

    #stefan .team-member-role {
        width: 40%;
        height: 25%;
        position: absolute;
        left: 50%;
        top: 25%;
        font-size: calc(var(--w)/30);
    }
    
    #stefan .team-member-description {
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* VOICE ACTORS SECTION ////////////////////////////////////////// */

    .voice-actor {
        height: 45%;
        margin-bottom: 2%;
    }

    .voice-actor-pic {
        width: 50%;
        height: 100%;
    }

    .voice-actor-name {
        width: 50%;
        position: relative;
        top: -90%;
        left: 50%;
        text-align: center;
        box-sizing: border-box;
        padding: 3%;

        font-size: calc(var(--w)/20);
    }

    .voice-actor-role {
        width: 50%;
        position: relative;
        top: -60%;
        left: 50%;
        text-align: center;
        font-size: calc(var(--w)/30)
    }

    /* WEB DESIGN SECTION ////////////////////////////////////// */
    #dreeko-logo {
        box-sizing: border-box;
        padding: 7%;
    }
    #dreeko p {
        font-size: calc(var(--w)/40);
    }

    #fonts h3 {
        height: 30%;
        font-size: calc(var(--w)/10)
    }

    #fonts ul {
        height: 40%;
    }

    #fonts ul a {
        font-size: calc(var(--w)/17);
    }

    #fonts ul a:hover, #fonts ul a:focus {
        color: black;
        background-color: white;
    }

    #fonts p {
        height: 20%;

        text-align: left;

        padding-left: 3%;

        font-size: calc(var(--w)/60);
    }


    #fonts p a:hover, #fonts p a:focus {
      color: red;
    }
    /* PHOTO CREDITS SECTION ///////////////////////////// */
    #photos h3 {
        font-size: calc(var(--w)/15)
    }

    #photos #sub-header {
        font-size: calc(var(--w)/30);
    }

    #photos #sub-header a:hover, #photos #sub-header a:focus {
      color: red;
    }

    #list-mention {
      font-size: calc(var(--w)/50);
    }

    .photo-credit-list li {
      padding-bottom: 2%;
    }

    .photo-credit-list a {
      border-width: calc(var(--w)/400);
    }

    .photo-credit-list a:hover, .photo-credit-list a:focus {
      background-color:white;
      color: black;
      border-color: white;
    }

    #photo2 .photo-credit-list {
      padding-top: 3%;
    }

}