/* PICTURE BACKGROUND //////////////////////////////////// */
@keyframes fade {
    0% {opacity: 0; background-position: 0% 0%;}
    50% {opacity: 0.15; background-position: 10% 10%;}
    90% {opacity: 0; background-position: 20% 20%;}
}

#background {
    position: absolute;
    background-image: url("../assets/visual/images/splash-pic-4.jpg");
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: 200%;
    opacity: 0;
    animation: fade 6s 6s infinite linear;
}

/* TEXT //////////////////////////////////////////////////////// */

h1 {
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: "Gugi", Arial, Helvetica, sans-serif;
    font-size: calc(var(--w) / 10);
    line-height: 2.5ex;

    color: hsl(100, 100%, 90%);
}

p {
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Gruppo", Arial, Helvetica, sans-serif;
    font-size: calc(var(--w) / 15);

    color: hsl(100, 100%, 60%);
}

/* LINK ///////////////////////////////////////////////////////// */
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

#link-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    animation: fade-in 5s 9s ease-in forwards;
}

a {
    position: relative;
    top: 5%;

    box-sizing: border-box;
    border: 5px outset hsl(100, 100%, 20%);
    padding: 10px;

    font-size: calc(var(--w) / 10);
    font-family: "Gruppo", Arial, Helvetica, sans-serif;

    background-color: black;
    color: hsl(100, 100%, 80%);

    transition-property: color, background-color, border;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}

a:hover, a:focus {
    color: hsl(180, 100%, 0%);
    background-color: hsl(0, 100%, 100%);
    border: calc(var(--w) / 30) outset hsl(100, 0%, 20%);
}

/* OVERLAY ANIMATION ///////////////////////////////////////////////// */

#svg-container {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    pointer-events: none;
}

svg {
    width: 100%;
    height: 100%;
}



/* TABLET //////////////////////////////////////////////// */
@media only screen and (min-width: 600px) and (max-width: 1024px) {

}

/* LAPTOP / DESKTOP ///////////////////////////////////////// */
@media only screen and (min-width: 1025px) {
    #background {
        background-size: 100%;
    }

    h1 {
        font-size: calc(var(--w) / 30);
    }

    p {
        font-size: calc(var(--w) / 45);
    }

    a {
        font-size: calc(var(--w) / 30);
    }
}